.rectangular_image{
    object-fit: contain;
}
.my_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.whole_section{
    background-color: #F3F3E0;
}

.my_h1{
    color: #608BC1;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}
.my_text{
    color: #608BC1;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
span{
    color: #608BC1;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
